{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="content">
  <h2>
    <h1><teste class="normal">upload</teste> cliente_name.csv</h1>
    <h3>*Precisa <teste class="normal">ser um arquivo <a>.csv</a>, com as duas respectivas colunas: </teste><a>Name</a><cvee class="laranjinha">,</cvee><a>Version</a> <br><br><table style="width: 35%"><th>Name</th><th>Version</th>
    <tr>
      <td><teste class="normal">ex.:</teste> TP-LINK WR-886N</td>
      <td><teste class="normal">ex.:</teste> 2.3.8</td>
    </tr>
    <tr>
      <td><teste class="normal">ex.:</teste> orchardcms</td>
      <td><teste class="normal">ex.:</teste> 1.2.9</td>      
    </tr>
    </table></h3>
    <form action = "/uploader" method = "POST" 
      enctype = "multipart/form-data">
      <input type="file" name = "file" />
      <button type="submit" onClick="submit">Confirmar upload</button>
  
  <br>
    <br>
<br>
</div>
{% endblock %}